*
.gallery{
margin: 10px 50px;
}

.gallery img{
	transition: 2s;
	padding: 15px;

	width: 20%;
	 height: 211%;
}
.gallery img:hover{
	filter: grayscale(100%);
	transform: scale(1.1);
	
}