@import url('https: //fonts.googleapis.com/css2?family=poppins: wight@300;400;500;600;700;800;900 display=swap');

*
{
	margin: 0;
	padding: 0;
	/*list-style: none;*/
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

	
}
body
{
	font-family: sans-serif;
	background: #16384c;

}


#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar
{
	background-image: linear-gradient(to right, #a517ba,#5f1782);
	padding: 0 !important;
}
.navbar-brandimg
{
	height: 40px;
	padding-left: 20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
	float: right;
	text-align: left;
}
.navbar-toggler-icon
{
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler
{
	outline: none !important;
}

 /*------ banner section ------*/
 #banner
 {
 		background-image: linear-gradient(to right, #a517ba,#5f1782);
 		color: #fff;
 		padding-top: 5%;

 } 

 #banner a 
 {
	 color: #fff;
	 text-decoration: none;
 }


 #banner h2
{
    font-size: 3.0em;
    font-weight: 800;
    color: #ffffff;
    line-height: 1em;
    text-transform: uppercase;
}
#banner h3
{
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(163, 169, 163);
  line-height: 1em;
}

#banner h4
{
  font-size: 1.0em;
  font-weight: 700;
  color: rgb(163, 169, 163);
  line-height: 1em;
}



 .promo-title
 {
 	font-size: 30px;
 	font-weight: 600;
 	margin-top: 100px;

 }


.play-btn
{
	width: 45px;
	margin: 20px;

}

.bottom-img
{
	width: 100%;
}

.c-button {
    display: inline-block;
    border: none;
    background: none;
    box-sizing: none;
    outline: none;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    line-height: 1;
    color: #8cb994;
    transition: all 0.3s;
    position: relative; 
}




/*------------project section----------*/
#project
{
	padding: 80px 0;
}
.project-img
{
	width: 50%;
	margin-top: 20px;
}
.project
{
	padding: 20px;
}
.project h4
{
	margin-top: 25px;
	font-size: 1.2em;
	font-weight: 700;
	color: rgb(0, 0, 0);
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}
.project p{
	margin-top: 10px;
	font-weight: 400;
	color: rgb(0, 0, 0);
	line-height: 1em;
	letter-spacing: 0.4px;

}
.title::before
{
	content: '';
	background: #7b1798;
	height: 5px;
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 50px;
	transform: translateY(63px);

}
.title::after
{
	content: '';
	background: #7b1798;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	display: block;
	transform: translateY(8px);
}
#project .btn-primary
{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to right, #a517ba,#5f1782);

}



#project_main
{
	padding: 80px 0;

}

#project_main projec_video{
	padding: 12rem 12rem;
	display: flex;
	flex-direction: row;
	position: relative;
	list-style-type: none;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

#project_main h4 {
	font-size: 1.2em;
	font-weight: 700;
	color:#000;
	line-height: 1em;
	

}

/*---------------Publicatios-----------*/

#publications
{
	background: #fff;
	padding-bottom: 50px;
	padding-top: 50px;

}

#publications ul li
{
	margin: 10px 0;
}
#publications ul
{
	margin-left: 10px;
}
#publications img
{
	width: 195px;
	height: 195px;
	 filter: sepia(60%);
}


.publications__item {
    margin-bottom: 30px;
    background: #f8f8f8;
    display: flex;
    position: relative;
 }



.publications__header {
    margin-bottom: 5px;
    font-family: "Lora", sans-serif;
	font-size: 3.5em;
    font-weight: 800;
    color: #ffffff;
    line-height: 1em;
	letter-spacing: 1.2px;
}
.publications__body {
    padding: 20px 20px 15px 20px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
	color: #000000;
	font-weight: 600;

}
#publications h3 {
    color: #272626;
    font-size: 1.525rem;
    line-height: 1.633333;

}
.publications__cite {
    font-family: "Lora", sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}
#publications p {
    font-size: 0.975rem;
}

.publications__button_text
{
	 display: inline-block;
    border: none;
    background: none;
    box-sizing: none;
    outline: none;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    line-height: 1;
    color: #0400ff;
    transition: all 0.3s;
    position: relative;
	letter-spacing: 1.2px;
}

/*-------testimonals-----------*/


#testimonals
{
	margin: 100px 0;
	position: relative;
}
.testimonals
{
	border-left: 5px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}
.testimonals img 
{
	bottom: 12.5%;
	position: relative;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 0 10px;
}
.testimonals .text
{
	margin-bottom: 50.5px;
}


.user-details
{

	top: 12.5%;
	position: relative;
	text-align: left;
	display: inline-block;
	font-size: 12px;



}

/*-----------social-media--------------*/

#social-media
{
	background: #F8F9FA;
	padding: 100px 0;
}
#social-media p
{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}

.social-icons img
{
	width: 60px;
	transition: 0.5s;
}
.social-icons a:hover img
{
	transform: translateY(-10px);
}


/*-----------------footer section---------------*/

#footer
{
   background-image: linear-gradient(to right, #a517ba,#5f1782);
   color: #fff;
}
.footer-img
{
	width: 100%;
}
.footer-box
{
	padding: 20px;
}
.footer-box img 
{
	width: 120px;
	margin-bottom: 20px;
}
.footer-box .fa
{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);

}
.footer-box .form-control 
{
	box-shadow: none !important;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;
}
.footer-box .btn-primary
{
	box-shadow: none !important;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right, #a517ba,#5f1782);
}
hr
{
	background-color: #fff;
}
.copyright
{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}










/*----------------slider----------------*/
#slider
{
	width: 100%;
}
.carousel-caption
{
	top: 90%;
	transform: translateY(-50px);
	bottom: initial!important;

}
.carousel-caption h5
{
	color: #F8F9FA ;
	font-style: italic;
	font-size: 50px;
}





 /*------ Contain section-------*/
 #contain
 {
 		background-image: linear-gradient(to right, #fff,#fff);
 		color: #000;
 		padding-top: 0%;

 }
 .text-title
 {
 	font-size: 30px;
 	font-weight: 600px;
 	margin-top: 100px;
 }
 .text-title-small-bolt
 {
 	font-size: 15px;
 	font-weight: 600px;
 	margin-top: 100px;
 }
  .text-title-small-no-bolt
 {
 	font-size: 15px;
 }



#banner a 
{
	color: #fff;
	text-decoration: none;
}
.bottom-img
{
	width: 100%;
}

/*---------------About Section----------*/
#about 
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about .btn
{
	margin-top: 20px;
	margin-bottom: 20px;
}
.about-content
{
	padding-top:20px ;
}





/*-----------skills-----------*/




.hobbies .li_wrap{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills .li_wrap{
	background: #a517ba;
}
.hobbies .li_wrap{
	border: 2px solid #a517ba;
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
	color: #000;
}



#habit
{

	display: flex;

}
#habit #left
{
	width: 200px;
	float: left;
}



/*------------Education----------*/

/*----
.resume{
	width: 80px;
	background: #fff;
	margin: 25px auto;
	display: flex;
}
-----*/





.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 125px;
    color: #0011f8;
	font-weight: 800;
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
	color: #630042;

}

.right_inner .li_wrap .info_title{
	letter-spacing: 2px;
	color: #285800;
	position: relative;
	font-size: 1.5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: none;
	letter-spacing: 1.2px;

}

.right_inner .li_wrap .info_com{
	font-weight: 400;
	font-size: 25px;
	margin-top: -15px;
	letter-spacing: 1.2px;
	font-size: 1.1em;
    font-weight: 600;
    line-height: 1em;



}

.right_inner .li_wrap .info_university
{
	font-weight: 300;
	font-size: 30px;
	margin-top: 40px;

}

.right_inner .li_wrap .info_cont{
	margin-top: 15px;
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #5355c9;
	border-radius: 50%;
}

.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: #9153c9;
}










/*-------slide image----*/

.container-p
{
	margin-top: 5%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}
.container .card
{
	position: relative;
	max-width: 300px;
	height: 200px;
	background: #fff;
	margin: 80px 10px;
	padding: 15px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;

}

.container .card:hover
{
	height: 450px;

}
.container .card  .imgBx
{
	position: relative;
	width: 260px;
	height: 260;
	top: -50px;
	left: 20px;
	z-index: 1;
	padding: 5px;
	box-shadow: 0 5px 20px rgba(0, 0, 0,0.2);
}

.container .card  .imgBx img
{
	max-width: 100%;
	border-radius: 4px;
}


.container .card .content
{
	position: relative;
	margin-top: -240px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility:hidden;
	opacity: 0;
	transition:  0.3s ease-in-out;

}
.container .card:hover .content
{
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;

}
.margingtop
{
	margin-top: 50px;
}




/*----movie box---*/
#movie
{
	background-color: #fff;
}

.moviebox {
	    padding: 20px;
		background-color: #fff;
			
		}
.moviebox {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			grid-gap: 10px;
		}
		.box {
			height: 120px;
			color: #a517ba;
			border: 3px solid #a517ba;
			position: relative;
			border-radius: 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.h2 {
			text-transform: uppercase;
			font-family: cursive, Geneva Tahoma, sans-serif;
			margin: 0;
			position: absolute;
			top: 82%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #000;
		}
 .icon
 {
	color: #000;
}



/*-----------smart card item---------*/

#smarcard
{

display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;



}

/***
.smarcard::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#2196f3,#e91e63);
	clip-path: circle(30% at right 70%);
}
.smarcard::after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#2196f3,#e91e63);
	clip-path: circle(20% at 10% 10%);
}
****/


.smart_card_item 
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 1;

}
.smart_card_item .card
{

	position: relative;
	width: 280px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
 		background-image: linear-gradient(to right, #a517ba,#5f1782);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}
.smart_card_item .card .image
{ 
	width: 100%;
	height: 100%;
	display: flex;
	font-size: 30px;
	position: absolute;
	opacity: 5;
	transition: 2.5s;


}
.smart_card_item .card:hover .image 
{
	transform: translateY(10px);
	transform: translateX(10px);
	opacity: 0;
}

.smart_card_item .card .text
{ 
	color: rgba(25, 52, 58, 1.0);
	bottom: 85%;
	position: absolute;
	opacity: 5;
	font-size: 2em;
	z-index: 1;


}

.smart_card_item .card .content
{
	bottom: 10px;
	padding: 10px;
	text-align: center;
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s;

} 
.smart_card_item .card:hover .content 
{
	transform: translateY(10px);
	opacity: 5;
	transition: 0.5s;
}





.smart_card_item .card .content h2
{
	position: -80px;
	right: 30px;
	font-size: 8em;
	color: rgba(255, 255, 255, 0.5);
	pointer-events: none;

}
.smart_card_item .card .content h3
{
	font-size: 2em;
	color: #2196f3;
	z-index: 1;

}
.smart_card_item .card .content p
{
	font-size: 1em;
	color: #fff;
	font-weight: 300;
}
.smart_card_item .card .content a
{
	bottom: 20px;
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: #2196f3;
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

#googlr-form{
	background: #fff;
}
.form{

	width: 400px;
	max-width: calc(100%-60%);
}
.text-elimant{
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}
.google-button{
	padding: 5px;
	display: flex;
	width: 100px;

}
input,textarea{
	border: 1px solid #d0d2e2;
	line-height: 2;
	padding: 5px;
	border-radius: 5px;
}